

<div class="panel">
 <div class="row">
<div class="large-3 columns">
<h1><%=image_tag "udec.png"%></h1>
</div>
<div class="large-9 columns">
<ul class="button-group right">
<li><a href="#" class="button">Descargar</a></li>
</ul>
</div>


</div>
<div class="panel">
 		<div class="row">
 		
 			<div class="one-third">
					<h3></h3>
					<p></p>
				</div>
				<div class="one-third">
					<h3>Acta n° del</h3>
					<h3></h3>

				</div>

 	 	</div>


 	 	<h3>fecha:    </h3>
 		<p>14 de mayo de 1945</p>
 	 	<h3>Lugar:    </h3>
 	 	<p>Mi casa</p>
 	 	<h3>Asistentes:	       </h3>
 	 	<p>marlon</p>
 	 	<p>marlon</p>
 	 	<p>marlon</p>
 	 	<p>marlon</p>
 	 	<p>marlon</p>
 	 	<h3>Orden del día:     </h3>
 	 	<p>se va a hablar de tales y pascuales</p>
 	 	<h3>Desarrollo:        </h3>
 	 	<p>lorem ipsum tales pascuales de que blabla bla asdasdasdasdasdasdasdasdasdasd asdasdasdasd asdasdasdasd asdasdasd asdasdasdas asdasdas sadasdasd sadasdasd asdasda sdasdas dasdasdas asd asdasd asd<p>
 	 	<h3>Conclusiones:      </h3>  
 	 	<p>se decidio que amrlon es gay	<p>
<h3></h3>
<h3></h3>

<p align=center>Diagonal 18 No. 20-29 Fusagasugá – Cundinamarca </p>
<p align=center>Teléfonos (091)8672144-8673273-8732512/30 Telefax: 8732554 - 8677898 – 8673826  </p>
<p align=center>Línea Gratuita 018000976000 </p>
<p align=center>www.unicundi.edu.co E-mail: unicundi@mail.unicundi.edu.co  </p>
<p align=center>NIT: 890.680.062-2  </p>
		</div>
</div>