
<div id="main">
    <%= image_tag "imagen.png", :alt => "logo", :id => "logo"%>

<!-- End Top Bar -->
<div class="title">
        <span class="big">nombre del proyecto, </span> <span class="small">lo que sea..</span>
      </div>
 